.Possibility {
    width: 100%;
    background-color: #181a23;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    border-radius: 10px;
    max-width: 40%;
    padding: 40px;
}

.icon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222431;
    border-radius: 10px;
}