.Footer {
    display: flex;
    flex-direction: column;
}

.socials{
    align-items: center;
    display: flex;
    gap: 120px;
}
.socials > div{
    display: flex;
    gap: 20px;
}

.Footer a{
    font-size: 2em;
    color: #50c3a0;
    text-decoration: none;
}
a:hover{
    color: #a848e0;
}

.terms{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.terms > div{
    color: #5e5c74;
}

.terms a{
    font-size: 1em;
    color: white;
}