.TournamentsPage {
    display: flex;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.filter{
    display: flex;
    justify-content: space-between;
}

.tournamentList{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nothing{
    text-align: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}