.TrackTypeSelector {
    width: 100%;
    border-bottom: #505050 1px solid;
    display: flex;
    gap: 10px;
}

.TrackTypeSelector img{
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
    filter: grayscale(100%);
    border-bottom: 3px solid transparent;
    transition: ease all .3s;
}

.track{
    display: flex;
    gap: 20px;
    align-items: center;
}

.track > p{
    font-size: 18px;
    font-weight: 500;
    white-space: break-spaces;
    line-height: 1em;
}

.TrackTypeSelector img.selected,
.TrackTypeSelector img:hover{
    filter: grayscale(0);
    cursor: pointer;
}