.TasksPage {
}

.body{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.filter{
    display: flex;
    justify-content: space-between;
}

.nothing{
    grid-column: span 4;
    text-align: center;
}

.taskGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
